PORT=5000
MONGO_URI=mongodb+srv://<username>:<password>@cluster0.xoau4tu.mongodb.net/movierecommender?retryWrites=true&w=majority

NODE_ENV=development
 
#  mongodb+srv://<username>:<password>@cluster0.xxxxx.mongodb.net/slidevault?retryWrites=true&w=majority